extends layout

block content
  section#content
    h2= text
    if hint
      p
        i Hint: #{hint}
    a(href=`/cards/${id}?side=${sideToShow}`) #{sideToShowText}
    br
    a(href=`/cards`) Next card